<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Import</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>5.8</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
            <string>
                SUBQUERY (
                    extensionItems,
                    $extensionItem,
                    (
                        SUBQUERY (
                            $extensionItem.attachments,
                            $attachment,
                            ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url"
                        ).@count >= 1 OR
                        SUBQUERY (
                            $extensionItem.attachments,
                            $attachment,
                            ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.text"
                        ).@count >= 1
                    )
                ).@count >= 1
            </string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
	</dict>
	<key>RRITAPIServerURL</key>
	<string>https://api.readup.com/</string>
	<key>RRITAuthCookieDomain</key>
	<string>.readup.com</string>
	<key>RRITAuthCookieName</key>
	<string>sessionKey</string>
    <key>RRITClientID</key>
    <string>ios/share-extension</string>
	<key>RRITDebugReader</key>
	<false/>
    <key>RRITShareExtensionScriptVersion</key>
    <string>3.0.14</string>
    <key>RRITWebServerURL</key>
    <string>https://readup.com/</string>
</dict>
</plist>
